body {

    background-color: #f01414ab;
}

 
button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.heading {
    color: #003161;
    background-color: yellow;
    text-align: center;
}